{% extends 'core/base.html' %}


{% block title %}
  <title>
      | Borrar adopción
  </title>
{% endblock %}

{% block content %}
	<div class="container">
		
		<form method="post">
			{% csrf_token %}

			<h3>Desea eliminar la solicitud de
				<strong>
					"{{ object.persona.nombre }}{{ object.persona.apellidos }}"
				</strong>
			</h3>

			<button class="btn btn-outline-danger" type='submit'>Si, eliminar</button>
			<a class="btn btn-outline-secondary" href="{% url 'solicitud_listar' %}">Cancelar</a>

		</form>
		
	</div>
{% endblock %}

