
{% extends 'core/base.html' %}
{% load static %}

{% block title %}Muestra{% endblock %}

{% block content %}
  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Amor por la vida</span>
                <span class="section-heading-lower">Nuestra historia</span>
              </h2>
              <p>
                  Ante la casi nula acción del gobierno para proteger a nuestras mascotas, 
                  nace la idea de crear la plataforma mboHupa, para que facilite que los compañeros de vida se encuentren a traves de ella.
                  </p>
              <p>
                  El objetivo de mboHupa es apoyar la adopción de animales sin hogar, 
                  así como concienciar y educar a la gente respecto del cuidado de sus mascotas,
                   y la importancia de brindar su hogar para resguardarlos adecuadamente, 
                   realizando los controles de sanitación necesarios y brindar alimentación a base de balanceados especiales.
              </p>
              <p>
                  Un solo perro abandonado, significa cientos de perros que se irán reproduciendo en las calles durante los próximos años, aproximadamente 7.000 perros por año. 
                  Aumentando así el número de perros sin hogar de manera descontrolada. 
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}
