{% extends 'core/base.html' %}
{% load static %}

<!-- Contenido -->
{% block content %}

<!-- Cabecera -->
<section class="page-section clearfix">
    <div class="container-fluid">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Abre tu mente, corazón y tu casa</span>
            <span class="section-heading-lower">No compres, ADOPTÁ</span>
          </h2>
          <p class="mb-3">
              Muchas veces sucede que no podemos tener nuestro perro por diferentes causas y tenemos que tomar la decisión de darlo en adopción. Si tienes un perro que ha tenido crías y no puedes mantenerlas, una buena opción es dárselos a una veterinaria por algunos días a ver si pueden ellos encontrarles hogar, o buscar una campaña que lo pueda dar en adopción
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="store.html">Visítanos</a>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Cabecera 
<section class="page-section clearfix">
  <div class="container-fluid">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro.jpg' %}" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Abre tu mente, corazón y tu casa</span>
          <span class="section-heading-lower">No compres, ADOPTÁ</span>
        </h2>
        <p class="mb-3">
            Muchas veces sucede que no podemos tener nuestro perro por diferentes causas y tenemos que tomar la decisión de darlo en adopción. Si tienes un perro que ha tenido crías y no puedes mantenerlas, una buena opción es dárselos a una veterinaria por algunos días a ver si pueden ellos encontrarles hogar, o buscar una campaña que lo pueda dar en adopción
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="store.html">Visítanos</a>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<!-- Mensaje -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Para ti y para él</span>
            <span class="section-heading-lower">Segunda oportunidad</span>
          </h2>
          <p class="mb-0">
              Adoptar a un animal es una oportunidad para ti y una segunda oportunidad para él. Una oportunidad para ti, porque darás hogar y cariño a un animal que ha sufrido la aterradora experiencia del abandono y desamparo e incluso el maltrato, y aunque la mayoría de animales que esperan en una jaula ser adoptados son sociables y confiados, también los hay que debido a la terrible situación vivida tienen miedo o son asustadizos, si te decides adoptarlos podrás vivir la maravillosa transformación de un animal traumatizado que vuelve a recuperar la confianza.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
<!-- Contenido -->