{% extends 'core/base.html' %}
{% load static %}

{% block title %}
  <title>
      | Visitanos
  </title>
{% endblock %}

{% block content %}

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-5">
              <span class="section-heading-upper">Refugio</span>
              <span class="section-heading-lower">Hogar N°5</span>
            </h2>


            <ul class="list-unstyled list-hours mb-5 text-center mx-auto">
              <li class="list-unstyled-item list-hours-item ">
                24 hora al día.
              </li>
              <li class="list-unstyled-item list-hours-item ">
                7 dias a la semana.
              </li>
              <li class="list-unstyled-item list-hours-item ">
                365 días del año.
              </li>
            </ul>

            <p class="address mb-5">
              <em>
                <strong>C.D.E - CONCEPCIÓN - ASUNCIÓN</strong>
                <br>
                Paraguay
              </em>
            </p>
            <p class="mb-0">
              <small>
                <em>Llámanos y pregunta</em>
              </small>
              <br>
              (021) 000-000 
              <br>
              (0961) 000-000
              <br>
              (0971) 000-000
              <br>
              (0981) 000-000
              <br>
              (0991) 000-000
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">Veterinaria</span>
                <span class="section-heading-lower">Mymba</span>
              </h2>
  
  
              <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                <li class="list-unstyled-item list-hours-item d-flex">
                  Lunes a viernes
                  <span class="ml-auto">7:00 a 20:00</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Sábados
                  <span class="ml-auto">9:00 a 17:00</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Domingos
                  <span class="ml-auto">Cerrado</span>
                </li>
              </ul>
  
              <p class="address mb-5">
                <em>
                  <strong>Dpto. Central</strong>
                  <br>
                  Paraguay
                </em>
              </p>
              <p class="mb-0">
                <small>
                  <em>Llámanos y pregunta</em>
                </small>
                <br>
                (021) 000-000
                <br>
                (0981) 000-000
              </p>
            </div>
          </div>
        </div>
      </div>
  </section>

  <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">Voluntario</span>
                <span class="section-heading-lower">Pepito Palacios</span>
              </h2>
  
  
              <ul class="list-unstyled list-hours mb-5 text-left mx-auto">                
                <li class="list-unstyled-item list-hours-item d-flex">
                  Domingos
                  <span class="ml-auto">9:00 a 17:00</span>
                </li>
              </ul>
  
              <p class="address mb-5">
                <em>
                  <strong>Asunción</strong>
                  <br>
                  Paraguay
                </em>
              </p>
              <p class="mb-0">
                <small>
                  <em>Celular</em>
                </small>
                <br>
                (0981) 000-000
              </p>
            </div>
          </div>
        </div>
      </div>
  </section>
  

{% endblock %}