.navbar-nav {
    text-align: center;
}
body {
    font-family: 'Lora';
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgb(179, 166, 166));
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .intro .intro-img {
    width: 63%;
}

  .product-item .product-item-img {
    width: 80%;
}
.navbar > .container, .navbar > .container-fluid {
    justify-content:space-between;

}
#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.8rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .4rem;
    padding-left: .4rem;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color: rgba(47, 23, 15, 0.9);
    color: #fff;
}


/* Small devices (landscape phones, 575px and up) */
@media (max-width: 575px) { ... }
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }



/* Medium devices (tablets, 767px and up) */
@media (max-width: 767px) { 
    
 }
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}


/* Large devices (desktops, 991px and up) */
@media (max-width: 991px) { 
    .intro {
        text-align: center;
    }
    .intro .intro-img {
        width: 100%;
    }
 }
 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .intro .intro-text {
        width: 45%;
    }
 }


/* Extra large devices (large desktops, 1199px and up) */
@media (max-width: 1199px) { ... }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }