{% extends 'core/base.html' %}


{% block content %}
<div class="container">
    
        <br>
        <h1>Listado de mascotas</h1>
    <table class="table table-bordered  text-center">
        <thead>
            <tr>
                <td>#</td>
                <td>Nombre</td>
                <td>Sexo</td>
                <td>Edad</td>
                <td>Fecha de Rescate</td>
                <td>Adoptante</td>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% if object_list %} 
            {% for mascota in object_list %}
            <tr>
                <td>{{ mascota.id }}</td>
                <td>{{ mascota.nombre }}</td>
                <td>{{ mascota.sexo }}</td>
                <td>{{ mascota.edad_aproximada }}</td>
                <td>{{ mascota.fecha_rescate }}</td>
                <td>{{ mascota.persona.nombre }} {{ mascota.persona.apellido }}</td>
                <td>
                    <a class="btn btn-outline-warning" href="{% url 'mascota_editar' mascota.id %}">Editar</a>
                    
                    <a class="btn btn-outline-danger"  href="{% url 'mascota_eliminar' mascota.id %}">Eliminar</a>

                </td>
            </tr>
            {% endfor %}

            {% else %}
            <h1>No hay registros de mascotas</h1>
            {% endif %}
        </tbody>
    </table>

    <!-- Pagination -->
    {% if is_paginated %}

        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg justify-content-center">

                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" style="color:rgba(47, 23, 15, 0.9);" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% endif %}

                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item">
                            <a class="page-link" style="color:rgba(47, 23, 15, 0.9); background-color: #e6a756 ;" href="?page={{ i }}">
                                {{ i }}
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" style="color:rgba(47, 23, 15, 0.9);" href="?page={{ i }}">
                                {{ i }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" style="color:rgba(47, 23, 15, 0.9);" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% endif %}

            </ul>
        </nav>

    {% endif %}
</div>
{% endblock %}




